.side-bar

  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to new_group_path do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog

  .side-bar__group-list
    .side-bar__group-list__bottom-items
      .side-bar__group-list__bottom-items__group-name
        グループ名
      .side-bar__group-list__bottom-items__new-message
        最新のメッセージ
      .side-bar__group-list__bottom-items__group-name
        グループ名２
      .side-bar__group-list__bottom-items__new-message
        最新のメッセージ２
      .side-bar__group-list__bottom-items__group-name
        グループ名３
      .side-bar__group-list__bottom-items__new-message
        最新のメッセージ３
      .side-bar__group-list__bottom-items__group-name
        グループ名４
      .side-bar__group-list__bottom-items__new-message
        最新のメッセージ４
