@import "./variables";

* {
  box-sizing: border-box;
  justify-content: flex-start;
}

.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
  color: $color-white;
  &__user-name{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    justify-content: center;
      &__top-items{
        width: 260px;
        height: 20px;
        display: flex;
        justify-content: flex-start;
        margin: 0px 20px 0px 20px;
          &__name{
            width: 200px;
            height: 20px;
            line-height: 20px;
            font-size: 16px;
            font-weight: bold;
          }
          &__icons{
            width: 60px;
            height: 20px;
            line-height: 20px;
            text-align: right;
              a{
                text-decoration: none;
                i{
                  color: $color-white;
                  padding-left: 2.5px;
                }
              }
          }
      }
  }

  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    overflow: auto;
    .group{
      height: 65px;
      margin: 0px 20px 0px 20px;
      a{
        text-decoration: none;
        .group__name{
          padding-top: 20px;
          font-size: 15px;
          color: white;
        }
        .group__new-message{
          height: 45px;
          padding-top: 5px;
          font-size: 11px;
          color: white;

        }
      }
    }
  }
}

.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  &__group-info{
    height: 100px;
    background-color: $color-white;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__top-left{
      padding: 35px 0px 0px 40px;
      &__group-name{
        height: 35px;
        color: #333333;
        font-size: 20px;
      }
      &__group-member{
        height: 20px;
        margin-top: 15px;
        color: #999999;
        font-size: 12px;
        li{
          display: inline;
        }
      }
    }
    &__top-right{
      height: 40px;
      width: 72px;
      margin-top: 28px;
      margin-right: 40px;
      margin-bottom: 32px;
      border: 1px solid;
      text-align: center;
      line-height: 38px;
      color: #38aef0;
      text-decoration: none;
      color: #38aef0;
    }
  }
  &__message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    overflow: scroll;
    &__middle-items-top{
      padding-left: 40px;
      display: flex;
      justify-content: flex-start;
      &__user-name{
        color: #333333;
        padding-top: 35px;
        font-size: 16px;
        font-weight: bold;
      }
      &__send-datetime{
        color: #999999;
        font-size: 12px;
        padding-top: 35px;
        padding-left: 10px;
      }
    }
    &__middle-items-message{
      color: #434A54;
      font-size: 14px;
      padding-top: 12px;
      padding-left: 40px;
    }
  }
  &__message-form{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    color: #383838;
    font-size: 16px;
    display: flex;
      &__bottom-items-left{
        margin: 20px 15px 20px 40px;
        display: flex;
        width: 100%;
        &__message{
          padding-left: 10px;
          line-height: 50px;
          width: 90%;
          padding-right: 40px;
          background-color: $color-white;
        }
        .form__mask{
          position: relative;
          &__image{
          .icon{  
            position: absolute;
            padding-right: 10px;
            line-height: 50px;
            font-size: 20px;
            right: 10px;
            cursor: pointer;
          }
          .hidden{
            color: black;
            display: none;
          }
        }
        }
        &__send{
          background-color: #38aef0;
          width: 100px;
          margin: auto 40px auto 0px;
          text-align: center;
          line-height: 50px;
          text-decoration: none;
          color: $color-white;
          height: 50px;
          margin-left: 20px;
        }
    }
  }
}